[Desktop Entry]
Name=WmSensors
Comment=Hardware monitor
Comment[pl]=Monitor sprzętu
Exec=wmsensors
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
